ul {
    text-align: left;
    font-family: monospace;
}

ul li {
    list-style: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

li + li {
    margin-top: 10px;
    vertical-align: middle;
}