#root {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

div {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 8px;
}

.header {
    display: flex;
    resize: horizontal;
    flex-wrap: wrap;
}

.header>p {
    flex: auto;
}

.logo {
    flex: initial;
    height: 5rem;
}

.title {
    margin: 10px 0px 0px 10px;
    flex: initial;
}

.filter-select {
    flex: initial;
}

.data-container {
    display: flex;
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
}

.item {
    margin: 1em;
    padding: 0.5em;
    /* width: 110px; */
    min-width: 0;
    font-family: monospace;
    font-size: 13px;
}

.list-unique>ul {
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: left;
    min-width: 335px;
}

.initial {
    flex: initial;
}

.auto {
    flex: auto;
    flex-wrap: wrap;
}